#LVListCustomer {
    width: 800px;
    float: left;
    overflow: auto;
}

.w-100 {
    width: 100% !important;
    height: 50vh;
}

.card img{
    width: 100% !important;
    height: 250px;
}

#loginPage{
    width: 40%;
    height: 300px;
    margin:auto;
    margin-top: 155px;
}


footer {
    margin-top: 5px;
    width: 100%;
    height: 150px;
}

#addRoom .jumbotron {
    padding-top: 14px !important;
    padding-bottom: 15px !important;
}